# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*node_modules/*
backend/ui-debug.log
backend/firestore-debug.log
backend/functions/firestore-debug.log
backend/functions/ui-debug.log
.idea/
backend/package-lock.json
